<div class="container">
  <div class="row">
    <div class="col-sm-8" *ngIf="followed">
        <h1>{{title}}{{user.name}}</h1>

        
        <div *ngFor="let follow of followed">
          <div class="row">
              <div class="card col-sm-2">
                  <img class="card-img-top" src="{{ url + 'get-image-user/' + follow.user.image }}"  *ngIf="follow.user.image">
                  <img class="card-img-top" src="assets/user.jpg" *ngIf="!follow.user.image">
                </div>
                <div class="card col-sm-8" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><a [routerLink]="['/perfil', follow.user._id]">{{follow.user.name + ' ' + follow.user.surname}}</a></h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button type="submit" class="btn btn-success" *ngIf="follows.indexOf(follow.user._id) < 0"
                      (click)="followUser(user.user._id)"
                      >Follow</button>
                      <button type="submit" class="btn btn-default" *ngIf="follows.indexOf(follow.user._id) >= 0"
                        (mouseenter)="mouseEnter(follow.user._id)"
                        (mouseleave)="mouseLeave(follow.user._id)"
                        (click)="unfollowUser(follow.user._id)"
                        [class.btn-danger]="follow.user._id == followUserOver">
                        <span *ngIf="follow.user._id == followUserOver; else user">Stop folllow</span>
                        <ng-template #user>
                            <span>Following</span>
                        </ng-template>
                      </button>
                    </div>
                  </div>
          </div>
        </div>
        
    </div>
      <div class="col-sm-4">
        <app-sidebar></app-sidebar>
      </div>
  </div>
  <ul class="pagination">
      <li class="page-item" *ngIf="page > 1">
        <a class="page-link" [routerLink]="['/siguidores', userPageId, prev_page]" >Previous</a>
      </li>
      <li class="page-item" *ngIf="pages != page">
        <a class="page-link" [routerLink]="['/siguidores', userPageId, next_page]">Next</a>
      </li>
  </ul>
</div>